In [ ]:
import pandas as pd

In [6]:
data = pd.read_csv("../data/store_demand.csv")

In [8]:
data.groupby("store").count()

        date   item  sales
store
1      91300  91300  91300
2      91300  91300  91300
3      91300  91300  91300
4      91300  91300  91300
5      91300  91300  91300
6      91300  91300  91300
7      91300  91300  91300
8      91300  91300  91300
9      91300  91300  91300
10     91300  91300  91300

In [9]:
data.groupby("date").count()

            store  item  sales
date
2013-01-01    500   500    500
2013-01-02    500   500    500
2013-01-03    500   500    500
2013-01-04    500   500    500
2013-01-05    500   500    500
...           ...   ...    ...
2017-12-27    500   500    500
2017-12-28    500   500    500
2017-12-29    500   500    500
2017-12-30    500   500    500
2017-12-31    500   500    500

[1826 rows x 3 columns]