In [55]:
import pandas as pd
import numpy as np

errors = pd.read_csv("../data/predictions/errors.csv")
predictions = pd.read_csv("../data/predictions/predictions-11-19.csv")
mape = errors.iloc[:, 3:].sub(errors.sales, axis=0)
errors["month"] = pd.DatetimeIndex(errors.date).month
errors["year"] = pd.DatetimeIndex(errors.date).year

mape\
    .abs()\
    .mean()\
    .sort_values()\
    .round(2)

prophet            6.65
ardl               8.41
neural_prophet    10.26
exp_smooth        10.67
autoreg           12.82
xgb_preds         14.89
dtype: float64

In [56]:
pd.concat([errors[["date", "store_item", "month", "year"]], mape], axis=1)

,date,store_item,month,year,autoreg,exp_smooth,ardl,xgb_preds,prophet,neural_prophet
0,2016-07-03,1-1,7,2016,-1.032678,-0.031640,-6.729579,-8.973497,-3.569993,-2.312630
1,2016-07-04,1-1,7,2016,9.360797,9.868874,3.079731,-6.051509,5.552477,6.825729
2,2016-07-05,1-1,7,2016,-4.822717,-4.138997,-9.754326,-21.845574,-4.809591,-3.590820
3,2016-07-06,1-1,7,2016,5.303443,6.344893,5.543148,-11.553130,4.846605,6.147953
4,2016-07-07,1-1,7,2016,-9.397751,-7.028671,-3.900917,-21.028379,-5.904752,-4.550882
...,...,...,...,...,...,...,...,...,...,...
273495,2017-12-27,10-50,12,2017,-9.000000,7.629780,-10.796920,-9.713642,-2.009842,13.731506
273496,2017-12-28,10-50,12,2017,-10.666667,5.050097,1.144470,2.416860,5.923885,21.565811
273497,2017-12-29,10-50,12,2017,-32.666667,-17.472998,-13.562473,-11.776314,-4.423125,11.233772
273498,2017-12-30,10-50,12,2017,-18.333333,-2.477732,7.928363,5.933410,12.064814,27.705673
273499,2017-12-31,10-50,12,2017,-34.666667,-19.936853,-19.862151,-14.652210,-4.029380,11.636559

In [57]:
pd.concat([errors[["date", "store_item", "month", "year"]], mape], axis=1)\
    .groupby(["month", "year", "store_item"])\
        .sum()

                          autoreg  exp_smooth        ardl   xgb_preds  \
month year store_item
1     2017 1-1         -70.677420   44.304243  -41.771140  -96.043033
           1-10       -234.723948  105.997358 -163.520399 -307.622926
           1-11       -170.656706  123.511666  -12.876481 -252.704197
           1-12       -155.795422  134.720150 -188.735367 -183.620240
           1-13       -180.563999  231.035249  124.537228 -300.251080
...                           ...         ...         ...         ...
12    2017 9-50       -364.666667   93.749414 -265.309338 -234.936679
           9-6        -285.333333  152.567349  -39.128629 -161.634020
           9-7        -314.333333   62.635677 -287.652992 -283.654013
           9-8        -401.000000  164.339014 -451.477534 -229.268816
           9-9        -247.000000   37.601574 -281.400341 -232.143129

                          prophet  neural_prophet
month year store_item
1     2017 1-1          56.181006       80.856655
           1-10         79.444896      333.729237
           1-11        133.769905      258.989342
           1-12        140.842924      403.112988
           1-13        268.677989      596.694447
...                           ...             ...
12    2017 9-50        260.917047      783.113991
           9-6         279.827744      820.650097
           9-7          88.281790      497.352962
           9-8         250.812704     1044.135231
           9-9          63.554977      220.373203

[9000 rows x 6 columns]

In [58]:
monthly = errors
monthly

,date,store_item,sales,autoreg,exp_smooth,ardl,xgb_preds,prophet,neural_prophet,month,year
0,2016-07-03,1-1,35,33.967322,34.968360,28.270421,26.026503,31.430007,32.687370,7,2016
1,2016-07-04,1-1,18,27.360797,27.868874,21.079731,11.948491,23.552477,24.825729,7,2016
2,2016-07-05,1-1,31,26.177283,26.861003,21.245674,9.154426,26.190409,27.409180,7,2016
3,2016-07-06,1-1,22,27.303443,28.344893,27.543148,10.446870,26.846605,28.147953,7,2016
4,2016-07-07,1-1,33,23.602249,25.971329,29.099083,11.971621,27.095248,28.449118,7,2016
...,...,...,...,...,...,...,...,...,...,...,...
273495,2017-12-27,10-50,63,54.000000,70.629780,52.203080,53.286358,60.990158,76.731506,12,2017
273496,2017-12-28,10-50,59,48.333333,64.050097,60.144470,61.416860,64.923885,80.565811,12,2017
273497,2017-12-29,10-50,74,41.333333,56.527002,60.437527,62.223686,69.576875,85.233772,12,2017
273498,2017-12-30,10-50,62,43.666667,59.522268,69.928363,67.933410,74.064814,89.705673,12,2017
273499,2017-12-31,10-50,82,47.333333,62.063147,62.137849,67.347790,77.970620,93.636559,12,2017

In [59]:
from helper import smape

In [60]:
predictions = predictions.rename(columns={"Unnamed: 0":"date"})
preds = predictions.iloc[:, 3:]
predictions["week"] = pd.DatetimeIndex(predictions.date).week
predictions["month"] = pd.DatetimeIndex(predictions.date).month
predictions["year"] = pd.DatetimeIndex(predictions.date).year

/var/folders/0n/gp39qxl100149ccbr1n65kzh0000gn/T/ipykernel_11092/256259804.py:3: FutureWarning: weekofyear and week have been deprecated, please use DatetimeIndex.isocalendar().week instead, which returns a Series.  To exactly reproduce the behavior of week and weekofyear and return an Index, you may call pd.Int64Index(idx.isocalendar().week)
  predictions["week"] = pd.DatetimeIndex(predictions.date).week

In [70]:
predictions

,date,store_item,sales,autoreg,exp_smooth,ardl,xgb_preds,prophet,neural_prophet,week,month,year
0,2016-07-03,1-1,35,33.967322,34.968360,28.270421,26.026503,31.430007,32.687370,26,7,2016
1,2016-07-04,1-1,18,27.360797,27.868874,21.079731,11.948491,23.552477,24.825729,27,7,2016
2,2016-07-05,1-1,31,26.177283,26.861003,21.245674,9.154426,26.190409,27.409180,27,7,2016
3,2016-07-06,1-1,22,27.303443,28.344893,27.543148,10.446870,26.846605,28.147953,27,7,2016
4,2016-07-07,1-1,33,23.602249,25.971329,29.099083,11.971621,27.095248,28.449118,27,7,2016
...,...,...,...,...,...,...,...,...,...,...,...,...
273495,2017-12-27,10-50,63,54.000000,70.629780,52.203080,53.286358,60.990158,76.731506,52,12,2017
273496,2017-12-28,10-50,59,48.333333,64.050097,60.144470,61.416860,64.923885,80.565811,52,12,2017
273497,2017-12-29,10-50,74,41.333333,56.527002,60.437527,62.223686,69.576875,85.233772,52,12,2017
273498,2017-12-30,10-50,62,43.666667,59.522268,69.928363,67.933410,74.064814,89.705673,52,12,2017
273499,2017-12-31,10-50,82,47.333333,62.063147,62.137849,67.347790,77.970620,93.636559,52,12,2017

In [61]:
sum_preds = predictions\
    .groupby(["week", "month", "year", "store_item"]).sum()

In [62]:
def smape(F, A = sum_preds.sales):
    return 100/len(A) * np.sum(2 * np.abs(F - A) / (np.abs(A) + np.abs(F)))

In [67]:
sum_preds.apply(smape).sort_values().round(2)

sales              0.00
prophet            7.33
exp_smooth         8.94
ardl              10.46
neural_prophet    14.88
autoreg           17.51
xgb_preds         28.85
dtype: float64

In [69]:
sum_preds = predictions\
    .groupby(["month", "year", "store_item"]).sum()

def smape(F, A = sum_preds.sales):
    return 100/len(A) * np.sum(2 * np.abs(F - A) / (np.abs(A) + np.abs(F)))

sum_preds.apply(smape).sort_values().round(2)

sales              0.00
exp_smooth         4.24
prophet            4.48
ardl               7.61
neural_prophet    13.54
autoreg           16.25
xgb_preds         28.43
week              74.49
dtype: float64