In [51]:
import pandas as pd

errors = pd.read_csv("../data/predictions/errors.csv")
mape = errors.iloc[:, 3:].sub(errors.sales, axis=0)
errors["month"] = pd.DatetimeIndex(errors.date).month
errors["year"] = pd.DatetimeIndex(errors.date).year

mape\
    .abs()\
    .mean()\
    .sort_values()\
    .round(2)

prophet            6.65
ardl               8.41
neural_prophet    10.26
exp_smooth        10.67
autoreg           12.82
xgb_preds         14.89
dtype: float64

In [68]:
pd.concat([errors[["date", "store_item", "month", "year"]], mape], axis=1)

,date,store_item,month,year,autoreg,exp_smooth,ardl,xgb_preds,prophet,neural_prophet
0,2016-07-03,1-1,7,2016,-1.032678,-0.031640,-6.729579,-8.973497,-3.569993,-2.312630
1,2016-07-04,1-1,7,2016,9.360797,9.868874,3.079731,-6.051509,5.552477,6.825729
2,2016-07-05,1-1,7,2016,-4.822717,-4.138997,-9.754326,-21.845574,-4.809591,-3.590820
3,2016-07-06,1-1,7,2016,5.303443,6.344893,5.543148,-11.553130,4.846605,6.147953
4,2016-07-07,1-1,7,2016,-9.397751,-7.028671,-3.900917,-21.028379,-5.904752,-4.550882
...,...,...,...,...,...,...,...,...,...,...
273495,2017-12-27,10-50,12,2017,-9.000000,7.629780,-10.796920,-9.713642,-2.009842,13.731506
273496,2017-12-28,10-50,12,2017,-10.666667,5.050097,1.144470,2.416860,5.923885,21.565811
273497,2017-12-29,10-50,12,2017,-32.666667,-17.472998,-13.562473,-11.776314,-4.423125,11.233772
273498,2017-12-30,10-50,12,2017,-18.333333,-2.477732,7.928363,5.933410,12.064814,27.705673
273499,2017-12-31,10-50,12,2017,-34.666667,-19.936853,-19.862151,-14.652210,-4.029380,11.636559

In [67]:
pd.concat([errors[["date", "store_item", "month", "year"]], mape], axis=1)\
    .groupby(["month", "year", "store_item"])\
        .sum()

                          autoreg  exp_smooth        ardl   xgb_preds  \
month year store_item
1     2017 1-1         -70.677420   44.304243  -41.771140  -96.043033
           1-10       -234.723948  105.997358 -163.520399 -307.622926
           1-11       -170.656706  123.511666  -12.876481 -252.704197
           1-12       -155.795422  134.720150 -188.735367 -183.620240
           1-13       -180.563999  231.035249  124.537228 -300.251080
...                           ...         ...         ...         ...
12    2017 9-50       -364.666667   93.749414 -265.309338 -234.936679
           9-6        -285.333333  152.567349  -39.128629 -161.634020
           9-7        -314.333333   62.635677 -287.652992 -283.654013
           9-8        -401.000000  164.339014 -451.477534 -229.268816
           9-9        -247.000000   37.601574 -281.400341 -232.143129

                          prophet  neural_prophet
month year store_item
1     2017 1-1          56.181006       80.856655
           1-10         79.444896      333.729237
           1-11        133.769905      258.989342
           1-12        140.842924      403.112988
           1-13        268.677989      596.694447
...                           ...             ...
12    2017 9-50        260.917047      783.113991
           9-6         279.827744      820.650097
           9-7          88.281790      497.352962
           9-8         250.812704     1044.135231
           9-9          63.554977      220.373203

[9000 rows x 6 columns]

In [49]:
monthly = errors
monthly

                       sales      autoreg   exp_smooth         ardl  \
month year store_item
1     2017 1-1           485   414.322580   529.304243   443.228860
           1-10         1644  1409.276052  1749.997358  1480.479601
           1-11         1490  1319.343294  1613.511666  1477.123519
           1-12         1463  1307.204578  1597.720150  1274.264633
           1-13         1757  1576.436001  1988.035249  1881.537228
...                      ...          ...          ...          ...
12    2017 9-50         1826  1461.333333  1919.749414  1560.690662
           9-6          1642  1356.666667  1794.567349  1602.871371
           9-7          1675  1360.666667  1737.635677  1387.347008
           9-8          2171  1770.000000  2335.339014  1719.522466
           9-9          1427  1180.000000  1464.601574  1145.599659

                         xgb_preds      prophet  neural_prophet
month year store_item
1     2017 1-1          388.956967   541.181006      565.856655
           1-10        1336.377074  1723.444896     1977.729237
           1-11        1237.295803  1623.769905     1748.989342
           1-12        1279.379760  1603.842924     1866.112988
           1-13        1456.748920  2025.677989     2353.694447
...                            ...          ...             ...
12    2017 9-50        1591.063321  2086.917047     2609.113991
           9-6         1480.365980  1921.827744     2462.650097
           9-7         1391.345987  1763.281790     2172.352962
           9-8         1941.731184  2421.812704     3215.135231
           9-9         1194.856871  1490.554977     1647.373203

[9000 rows x 7 columns]

In [48]:
monthly.iloc[:, 1:].sub(monthly.sales, axis=0)

                          autoreg  exp_smooth        ardl   xgb_preds  \
month year store_item
1     2017 1-1         -70.677420   44.304243  -41.771140  -96.043033
           1-10       -234.723948  105.997358 -163.520399 -307.622926
           1-11       -170.656706  123.511666  -12.876481 -252.704197
           1-12       -155.795422  134.720150 -188.735367 -183.620240
           1-13       -180.563999  231.035249  124.537228 -300.251080
...                           ...         ...         ...         ...
12    2017 9-50       -364.666667   93.749414 -265.309338 -234.936679
           9-6        -285.333333  152.567349  -39.128629 -161.634020
           9-7        -314.333333   62.635677 -287.652992 -283.654013
           9-8        -401.000000  164.339014 -451.477534 -229.268816
           9-9        -247.000000   37.601574 -281.400341 -232.143129

                          prophet  neural_prophet
month year store_item
1     2017 1-1          56.181006       80.856655
           1-10         79.444896      333.729237
           1-11        133.769905      258.989342
           1-12        140.842924      403.112988
           1-13        268.677989      596.694447
...                           ...             ...
12    2017 9-50        260.917047      783.113991
           9-6         279.827744      820.650097
           9-7          88.281790      497.352962
           9-8         250.812704     1044.135231
           9-9          63.554977      220.373203

[9000 rows x 6 columns]

In [47]:

mape = monthly.iloc[:, 1:].sub(monthly.sales, axis=0)\
    .abs()\
    .mean()\
    .sort_values()\
    .round(2)
mape

exp_smooth         70.52
prophet            73.80
ardl              123.74
neural_prophet    247.74
autoreg           269.31
xgb_preds         429.41
dtype: float64