In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta

# data prep

In [2]:
data = pd.read_csv("../data/store_demand.csv")

In [3]:
data.index.max()

912999

In [4]:
data = pd.read_csv("../data/store_demand.csv")
data['date'] = pd.to_datetime(data['date'])
data.set_index('date', inplace=True)
data['store_item'] = data.store.astype(str) + '-' + data.item.astype(str)
data.drop(['store', 'item'], axis=1, inplace=True)
data["sales"] = data.sales.replace(0, 1)
# problem_series = ["3-5", # broke on vec auto reg 
#                   "6-4"] # broke on exp smoothing
# data = data[~data.store_item.isin(problem_series)] # auto reg broke on this one check it if time permits
# note non unique indices

In [5]:
data

            sales store_item
date
2013-01-01     13        1-1
2013-01-02     11        1-1
2013-01-03     14        1-1
2013-01-04     13        1-1
2013-01-05     10        1-1
...           ...        ...
2017-12-27     63      10-50
2017-12-28     59      10-50
2017-12-29     74      10-50
2017-12-30     62      10-50
2017-12-31     82      10-50

[913000 rows x 2 columns]

# train test split

In [6]:
def train_test_splitter(df, pct=0.8):
    timespan = (df.index.max() - df.index.min()).days
    train_date = round(timespan*pct)
    train = df.index.min() + timedelta(days=train_date)
    return [df[df.index <= train], df[df.index > train]]


train, test = train_test_splitter(data, .7)

In [7]:
len(train) / 500

1279.0